.list {
    width: 100%;
    padding: 1.75rem;
    box-sizing: border-box;
}

.listItem {
    padding: 1.75rem;
    margin-bottom: .75rem;
    box-sizing: border-box;
    border-radius: .65rem;
    box-shadow: 2px 4px 5px #cfcfcf;
}

.listItem__header {
    display: flex;
    justify-content: space-between;
}

.listItem__pos, .listItem__word {
    font-weight: 600;
    font-size: 1.55rem;
}

.listItem__synonyms {
    padding: 1.5rem 0;
    font-style: italic;
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.5rem;
}

.listItem__definition {
    font-size: 1.25rem;
    line-height: 1.95rem;
}